* {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  color: DADFF7;
  font-size: 2.5vh;
}

#board {
  margin-top: 12vw;
  height: 27vw;
  width: 27vw;
  margin-left: auto;
  margin-right: auto;
}

.box {
  float: left;
  position: relative;
  border: 1px solid white;
  background-color: D6A2AD;
  text-align: center;
}

input[type="text"] {
float: left;
color: 495159;
text-align: center;
width: 50%;
border: solid 1px #dcdcdc;
transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#menu {
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  height: 4.5vw;
  width: 27vw;
  text-align: center;
}

#scoreText {
  line-height: 2.25vw;
  display: inline-block;
  height: 2.25vw;
  width: 27vw;
  background-color: 5A7D7C;
  text-align: center;
}

#playerScore {
  display: inline-block;
  line-height: 4.5vw;
  float: left;
  background-color: 413C58;
  height: 4.5vw;
  width: 13.5vw;
}

#computerScore {
  line-height: 4.5vw;
  float: left;
  background-color: 4B4E6D;
  height: 4.5vw;
  width: 13.5vw;
}

#optionsText {
  display: inline-block;
  line-height: 2.25vw;
  height: 2.25vw;
  width: 27vw;
  background-color: 5A7D7C;
  text-align: center;
  }

#options {
  display: inline-block;
  height: 4.5vw;
  width: 27vw;
}

#plus {
  line-height: 4.5vw;
  float: left;
  background-color: 4B4E6D;
  height: 4.5vw;
  width: 13.5vw;
}

#minus {
  line-height: 4.5vw;
  float: left;
    background-color: 413C58;
  height: 4.5vw;
  width: 13.5vw;
}

#resetButton {
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
  background-color: 5A7D7C;
  height: 4.5vw;
  width: 27vw;
  height: 2.25vw;
  line-height: 2.25vw;
  text-align: center;

}

/*The first part of the actual cross placed on the board*/
.xcross1 {
position: absolute;
height: 90%;
width: 1vw;
background-color: 495159;
margin-left: 45%;
margin-top: 5%;
transform: rotate(-45deg);
z-index: 1;
}

/*The second part of the actual cross placed on the board*/
.xcross2 {
position: absolute;
height: 90%;
width: 1vw;
background-color: 495159;
margin-left: 45%;
margin-top: 5%;
transform: rotate(45deg);
z-index: 2;
}

.o {
  border: .75vw solid;
  border-color: 495159;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.5%;
  width: 75%;
  height: 75%;
  opacity: 1;
}

.circle {
border: .75vw solid;
border-color: 495159;
border-radius: 100%;
margin-left: auto;
margin-right: auto;
opacity: 0;
width: 10%; height: 10%;
margin-top: 45%;
}

.slash {
  height: 90%;
  width: 1vw;
  background-color: 495159;
  position: absolute;
  opacity: 0;
  margin-left: 45%;
  margin-top: 5%;
  transition: all .2s ease-in-out;
}

.slash-1 {
  transform: rotate(-45deg);
}
.slash-2 {
  transform: rotate(45deg);
}

.box:hover .circle {
animation: circle 4s ease infinite;
}
.box:hover .slash-1 {
  animation: slash1 4s ease infinite;
}
.box:hover .slash-2 {
  animation: slash2 4s ease infinite;
}

@keyframes circle {
  0% {
    opacity: 0;
    width: 10%; height: 10%;
    margin-top: 45%;
  }
  50% {
    opacity: .75;
    width: 75%; height: 75%;
    margin-top: 12.5%;
  }
  0% {
    opacity: 0;
    width: 10%; height: 10%;
    margin-top: 45%;
  }

}

@keyframes slash1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .75;
    transform: rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-135deg);
  }
}
@keyframes slash2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .75;
    transform: rotate(-135deg);
  }
  100% {
    opacity: 0;
    transform: rotate(135deg);
  }
}
